/*
* Mate - Bluma Fungry Template Responsive css




/*
    small-mobile: from to 360px
    mobile: up to 768px
    tablet: from 769px
    desktop: from 1024px
    widescreen: from 1216px
    fullhd: from 1408px 
*/


/* On screens that are 1024px wide or less */

@media screen and (max-width: 1024px) {
    body {
        font-family: "ProximaNova";
        font-size: 14px;
    }
    .sticky-nav-panier-counter {
        padding: 2px 8px;
        border: 1px solid #ff6e57;
        border-radius: 50%;
        font-size: 12px;
        position: relative;
        left: 18px;
        bottom: -4px;
        width: 25px;
        top: -20px;
    }
    .food-list {
        padding: 0 5%;
    }
    .section-restaurants .heading-resto {
        text-align: center;
    }
    .login-form {
        padding: 5% 10%;
    }
    .text-intro>p {
        font-size: 190%;
        margin-top: 05px;
    }
}


/* we are going to handle this with these ranges : [0,360px],[361px, 768px], [769px, 1088px], [1088px, +infini]*/


/* ======================
    On screens that are 360px wide or less 
    =====================*/

@media screen and (max-width: 360px) {
    .text-intro>p {
        font-size: 150%;
    }
    .resto>h2,
    .resto>h3,
    .resto>p {
        text-align: left;
    }
    .section-restaurants {
        text-align: inherit;
    }
    .section-restaurants {
        padding: 40px 30px;
    }
    .section-searchbar {
        padding: 30% 5%;
        padding-bottom: 1%;
    }
    .input-home-down {
        width: 100% !important;
        margin: auto;
        left: 0px;
    }
    .is-grouped {
        justify-content: center !important;
    }
}


/* ======================
    On screens that are 360px wide or less 
    =====================*/


/* ======================
    On screens that are between 361px and 767px
    =====================*/

@media screen and (min-width:361px) and (max-width:767px) {
    .is-multiline {
        min-width: 20rem;
        margin: auto;
    }
    .is-left {
        left: -0.2rem;
    }
    .is-grouped {
        justify-content: center !important;
    }
}


/* ======================
        On screens that are between 361px and 767px
        =====================*/


/* ======================
    On screens that are 768px wide or less
    =====================*/

@media screen and (max-width: 768px) {
    body {
        font-family: "ProximaNova";
        font-size: 14px;
    }
    .intro-logo {
        left: -13px;
    }
    .section-restaurants {
        text-align: center;
    }
    .section-searchbar {
        padding: 35% 5%;
        padding-bottom: 1%;
    }
    /* ==========================================================================
        Header
       ========================================================================== */
    .btn-mv-left {
        left: 0;
    }
    .text-intro>p,
    .navbar-brand {
        text-align: center;
        left: 0px;
    }
    .intro-logo {
        left: 0px;
    }
    .has-icons-left {
        height: 3rem;
    }
    .navbar-brand {
        justify-content: center;
    }
    .text-btn {
        text-align: center;
    }
    .is-left {
        left: 0.2rem;
    }
    .is-full-mobile {
        padding-top: 0px;
    }
    /* ==========================================================================
        Header
       ========================================================================== */
    /* ==========================================================================
        Footer
       ========================================================================== */
    .footer-logo {
        padding-left: 0px;
    }
    .footer ul li {
        padding-left: 0%;
    }
    .footer {
        padding: 3rem 1.5rem 1.5rem;
    }
    .footer-third,
    .footer-seconde {
        padding-left: 0;
    }
    .footer ul li {
        text-align: center;
    }
    .footer-first {
        left: 0px;
    }
    .logo-foot {
        text-align: center;
        left: 0px;
    }
    .footer-logo {
        padding-left: 1.65rem;
    }
    .footer-first li {
        left: 0px;
    }
    /* ==========================================================================
        Footer
       ========================================================================== */
}


/* ======================
    On screens that are 768px wide or less
    =====================*/


/* ======================
    On screens that are between 768px and 1088px
    =====================*/

@media screen and (min-width:768px) and (max-width:1088px) {
    .footer-seconde {
        padding-left: 0px;
    }
    .footer-logo {
        padding: 0;
        left: 0px;
    }
    .footer-first {
        left: 0px;
    }
}


/* ====================== 
    On screens that are between 768px and 1088px
    =====================*/